table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 10px;
}

th,
td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.table-list_phone {
  margin-top: 14px;
}

.wrap-add_product {
  position: relative;
}
