<div class="col-6 mb-3">
  <input
    type="text"
    class="form-control"
    id="floatingInput"
    placeholder="Phone Name"
    name="name_phone"
    value="{{this.name_phone}}"
  />
</div>
<div class="col-6 mb-3">
  <input
    type="text"
    class="form-control"
    id="floatingInput"
    placeholder="Price"
    name="price_phone"
    value="{{this.price_phone}}"
  />
</div>
<div class="col-12 mb-3">
  <input
    type="text"
    class="form-control"
    id="floatingInput"
    placeholder="Description"
    name="description"
    value="{{this.description}}"
  />
</div>
<div class="col-12 d-grid">
  <button class="btn btn-primary btn-block" type="submit">Submit</button>
</div>