<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Create new Product</li>
  </ol>
</nav>
  
{{! form create product }}
<form action="/addPhone" method="post" novalidate class="row">
  {{>form-add-product}}
</form>