<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Create new phone</li>
  </ol>
</nav>
<form action="/addPhone" method="post" novalidate class="row">
  <div class="col-6 mb-3">
    <input
      type="text"
      class="form-control"
      id="floatingInput"
      placeholder="Phone Name"
      name="name_phone"
    />
  </div>
  <div class="col-6 mb-3">
    <input
      type="text"
      class="form-control"
      id="floatingInput"
      placeholder="Price"
      name="price_phone"
    />
  </div>
  <div class="col-12 mb-3">
    <input
      type="text"
      class="form-control"
      id="floatingInput"
      placeholder="Description"
      name="description"
    />
  </div>
  <div class="col-12 d-grid">
    <button class="btn btn-primary btn-block" type="submit">Submit</button>
  </div>
</form>